<form id="subForm" class="newsletter-form js-cm-form" action="https://xxxxxxxxxxx" method="post" data-id="xxxxxxx">
    <div class="newsletter-form-group">
        <input id="fieldEmail" class="gh-input js-cm-email-input" name="cm-zxdti-zxdti" type="email" placeholder="yourname@example.com" required />
        <button class="gh-btn gh-btn-green" type="submit"><span>Subscribe</span></button>
    </div>
    <small>No marketing campaigns. No jibber jabber. Unsubscribe anytime.</small>
</form>
<script type="text/javascript" src="https://xxxxxxx"></script>
